*,
::before,
::after {
  box-sizing: border-box;
}

.coverage {
    position: relative;
    margin: 0;
    font-family: 'ncctf5';
    font-size: 2rem;
    transition: 0.5s;
  .main {
      display: flex;
      width: 100%;
  }
}